@charset "utf-8";
/* CSS Document */

/* Mobile first */
html, body {
	font-size:12px;
}

.content {
	margin: 0 auto;
}

.main-container {
	width: 100%;
	position: relative;
}

.flex-container {
	
}

/*text elements */
div {

}

img {

}

p {
	
}

a {
	
}

span {
	
}

ul {
	
}

ul li {
	
}

header {
	height: 64px;
}

nav {
	padding: 1rem;
}

section {
	/*width: 100%;*/
	display: block;
}

footer {
	
}

/*Header - mobile*/
.nav-mobile {
	display:flex;
	justify-content: space-between;
	align-items: center;
}

/*banner -mobile */

.banner {
	background-color: silver;
}

.banner-img {
	height: 180px;
	margin: 0 auto;
	/*border: thick black dashed;*/
}

.banner-img img {
	height:100%;
	width: 100%
}

.banner-info {
	position: relative;
	padding: 32px 16px;
}

.banner-info h1 {
	font-size: 3rem;
	margin-bottom: 32px;
}

.banner-info h2 {
	font-size: 2rem;
	margin-bottom: 24px;
}

.banner-start {
	background-color: gray;
	font-size: 1.5rem;
	color:white;
	width: 80%;
	margin: 0 auto;
	text-align: center;
	padding: 1.2em 0;
}
	
/* features section */
#featured {
	background-color: ghostwhite;
}

.features {
	margin: 0 auto;
	display:flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.feature {
	overflow:hidden;
	width: 85%;
	padding: 2rem;
}

.feature .mobile-img {
	/*padding: 1.5em;*/
	width: 100%;
}

.feature-text {
	padding-left: 2.5em;
}

.feature-text h2 {
	font-size: 3rem;
	padding: 0.5em;
}

.feature-text p {
	font-size: 2rem;
	padding: 0.5em;
}

.feature-text .read {
	font-size: 2rem;
	color: lightblue;
	padding: 0.5em;
}

/*courses section */

.courses {
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	padding: 2rem;
}

.courses .heading {
	padding-top: 2.4rem;
	padding-bottom: 1.2rem;
	text-align: center;
	width: 100%;
}

.courses .heading h1{
		font-size:4rem;
}

.course {
	margin: 0 2rem 1rem 2rem;
	padding: 4rem;
	background-color: lightgray;
	width: 65%;
}

.course h2 {
	font-size: 3rem;
	padding-left: 2rem;
}

/* Thesis exhibits */
#thesis-exhibits {
	background-color: lightgray;
}
.exhibits {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.exhibits .heading h1 {
	font-size: 4.5rem;
	padding:3.5rem 0;
	width: 100%;
}

video {
	padding: 3em 0;
	width: 100%;
}

/*Footer*/
footer {
	background-color:white;
}

footer .heading {
	font-size: 2.5rem;
	padding: 2.5em 0;
}

footer .heading p {
	padding-left: 2.5em;
}
	



