@charset "utf-8";
/* CSS Document */

/*#### COMMON ####*/

header {
	height: 64px;
}

section {
	display: block;
}

.main-container {
	width: 100%;
	position: relative;
}

.content {
	margin: 0 auto;
}

.row {
	display:flex;
	flex-direction: row;
	flex-wrap: nowrap;
}

.col {
	display:flex;
	flex-direction:column;
}

.side {
}


/* MOBILE COMMON */
html, body {
	font-size:12px;
}

nav {
	padding: 1rem;
}

section .headings-main {
	padding-top: 2.4rem;
	padding-bottom: 1.2rem;
	text-align: center;
	width: 100%;
}

section .headings-main h1{
		font-size:4rem;
}


/*DESKTOP COMMON*/

@media only screen and(min-width:767px) {
		/* elements */
	html, body {
		font-size:16px;
	}
	
	/*resize headings*/
	section .headings-main {
		padding-top: 2rem 0;
	}

	section .headings-main h1{
		font-size:2rem;
	}
		
}

/*#### HEADER ####*/
/*MOBILE*/
.nav-mobile {
	display:flex;
	justify-content: space-between;
	align-items: center;
}

/*#### HEADER -DESKTOP ####*/
@media only screen and (min-width:767px) {

	.logo {
		display:flex;
		justify-content: flex-start;
		align-items: center;
		padding-left: 1.5rem;
		width: 45%;
	}
	
	.logo img{
		height: 2rem;
		width: 2rem;
		padding-right: 1rem;
	}
		
	.nav-desktop {
		display:flex;
		justify-content: center;
	}
	
	.nav-desktop ul {
		display:flex;
		justify-content:flex-end;
		align-items: center;
		width: 100%;
	}
	
	.nav-desktop ul li{
		padding: 	0 1rem;
	}
	
	.nav-desktop li a{
		font-size: 1.5rem;
		text-decoration: none;
	}
	
	.logo-text {
		font-size:1.5rem;
	}
	
	.logo-text span {
		color: darkgray;
	}
}

/*#### BANNER ####*/
/*MOBILE */

.banner {
	background-color: silver;
}

.banner-img {
	height: 180px;
	margin: 0 auto;
}

.banner-img img {
	height:100%;
	width: 100%
}

.banner-info {
	position: relative;
	padding: 32px 16px;
}

.banner-info h1 {
	font-size: 3rem;
	margin-bottom: 32px;
}

.banner-info h2 {
	font-size: 2rem;
	margin-bottom: 24px;
}

.banner-start {
	background-color: gray;
	font-size: 1.5rem;
	color:white;
	width: 80%;
	margin: 0 auto;
	text-align: center;
	padding: 1.2em 0;
}

/* BANNER DESKTOP */
@media only screen and (min-width: 767px) {
	
/*banner -DESK */
	.banner {
		display: flex;
		flex-direction: row;
	}
	
	.banner-img {
		width: 60%;
		padding: 2rem 2.5rem 2rem 1.5rem;
		height: auto;
	}
	
	.banner-info {
		display:flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding-top: 2rem;
	}

	.banner-info h1 {
		font-size: 2.5rem;
		margin-bottom: 2rem;
		width: 80%;
	}

	.banner-info h2 {
		font-size: 1.5rem;
		margin-bottom: 1.5rem;
		width: 80%;
	}

	.banner-start {
		padding: 0.5rem 0;
}
	
}

/*#### FEATURES #### */
/*MOBILE */
#featured {
	background-color: ghostwhite;
}

.features {
	margin: 0 auto;
	display:flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.feature {
	overflow:hidden;
	width: 85%;
	padding: 2rem;
}

.feature .mobile-img {
	/*padding: 1.5em;*/
	width: 100%;
}

.feature-text {
	padding-left: 2.5em;
}

.feature-text h2 {
	font-size: 3rem;
	padding: 0.5em;
}

.feature-text p {
	font-size: 2rem;
	padding: 0.5em;
}

.feature-text .read {
	font-size: 2rem;
	color: lightblue;
	padding: 0.5em;
}

/* FEATURES DESKTOP */
@media only screen and (min-width: 767px) {
	#featured {
		display: flex;
		flex-direction:row;
		height: 600px;
	}
	
	.features-desktop {
		display:flex;
		flex-direction:column;
		padding:2rem 1.5rem;
		width:55%;
	}
	
	.features-desktop img {
		overflow:hidden;
	}
	
	.features-desktop .heading h1 {
		font-size: 3rem;
		padding: 2rem 0 1.5rem 0;
	}
		
	.features-desktop .heading h5 {
		padding-top:2rem;
	}
	
	.desk-img {
		display: inline;
		padding: 1rem;
		width:35%;
	}


	.feature {
		display: flex;
		flex-direction: row;
		padding:0;
		align-items:center;
		
	}
	
	.feature-text {
		padding-left: 0;
	}

	.feature-text h2 {
		font-size: 1.5rem;
	}

	.feature-text p, .feature-text .read {
		font-size: 1rem;
	}
}

/*#### COURSES ####*/
/*MOBILE */
.courses {
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	padding: 2rem;
}

.course {
	margin: 0 2rem 1rem 2rem;
	padding: 4rem;
	background-color: lightgray;
	width: 65%;
}

.course h2 {
	font-size: 3rem;
	padding-left: 2rem;
}

/* COURSES DESKTOP */
@media only screen and (min-width:767px) {
	#start-learning {
		background-color: lightgray;
		padding-bottom: 2rem;
	}
	
	.courses {
		flex-direction: row;
		flex-wrap:wrap;
		padding: 0;
		width: 80%;
	}

	.course {
		display: flex;
		flex-direction: column;
		margin: 0.5rem;
		padding:0;
		background-color: white;
		width: 25%;
		height:250px;
	}
	
	.course img {
		display:block;
		height:35%;
		width:100%;
	}
	
	.course h2 {
		margin-top: 1rem;
		font-size: 1.5rem;
		padding-left: 0.5rem;
	}
	
	.course .course-content{
		display:block;
		padding: 0.5rem 1rem 1rem 1.5rem;
		font-size: 1em;
		color: darkgray;
	}
		
	.course-content h3 {
		font-size: 1em;
		text-transform: uppercase;
		padding: 0.5em 0;
	}
}

/*#### THESIS EXHIBITS ####*/
/* MOBILE */
#thesis-exhibits {
	background-color: ghostwhite;
}
.exhibits {
	display: flex;
	flex-direction: row;
/*	justify-content: center;
	align-items: center;*/
}

video {
	padding: 3em 0;
	width: 100%;
}
/* THESIS DESKTOP */
@media only screen and (min-width:767px) {	
	.exhibits {
		padding-left: 1.5rem;
	}

	.exhibit {
		width:55%;
	}
	
	.exhibit .info h3 {
			padding: 1.5rem 0 0 0.5rem;
			font-size: 1.5rem;
	}
	
	.exhibit .info p {
		padding: 1.5rem 0.5em;
	}
	
	.side {
		display: flex;
		flex-direction: column;
		padding-left:1.5rem;
		width: 45%;
	}
	
	.sub-exhibit {
		display: flex;
		flex-direction: row;
	}
	
	.sub-exhibit img {
		overflow:hidden;
		padding: 1rem;
		width: 40%;
		height: 150px;
	}
	
	.side .sub-content {
		padding-bottom:2rem;
		width: 60%;
	}
	
	.sub-content h2 {
		font-size: 1.5rem;
		padding:2rem 1rem;
	}
	
	.sub-content p {
		padding:0 1.5rem;
	}
	
	.side div:first-child{
		background-color: lightgray;
	}
	
	video {
		padding: 0;
		width: 100%;
	}
}

/*#### FOOTER ####*/
/*MOBILE */
footer {
	background-color:ghostwhite;
}

footer .heading {
	font-size: 2.5rem;
	padding: 2.5em 0;
}

footer .heading p {
	padding-left: 2.5em;
}

/* FOOTER DESKTOP*/
@media only screen and (min-width:767px) {
	footer {
		border-top:0.5px solid lightgray;
	}
	
	
	footer .row {
		padding: 4.5rem 1.5rem;
	}
	
	footer .heading {
		font-size:1rem;
		width: 80%;
		padding: 0;
	}
	
	footer .side {
		display: block;
		text-align:right;
		padding:2rem;
	}
	
	footer .heading, footer .side{
		padding: 1rem 0.5rem;
	}

	footer .heading p,footer span {
		padding:1rem;
	}
	
	footer span a {
		text-decoration:none;
	}
	
}

/* ##### Hidden #### */

@media only screen and (max-width:767px){
	/*hidden for desk*/
	.nav-desktop,.logo,.features-desktop, .desk-img, .course img, .course .course-content, .desk-only {
		display:none;
	}
	
}

@media only screen and (min-width:767px) {
		/*hidden mobile */
	.nav-mobile, .mobile-img {
		display:none;
	}
}
