@charset "utf-8";
/* CSS Document */

/*####COLOR SCHEME ####*/
.color-primary-0 { color: #297A4A }	/* Main Primary color */
.color-primary-1 { color: #618670 }
.color-primary-2 { color: #6E9C81 }
.color-primary-3 { color: #005824 }
.color-primary-4 { color: #006E2D }

/*#### COMMON ####*/
body {
	background-color: ghostwhite;
	font-size:12px;
	color: black;	
	font-family: 'Roboto', sans-serif;
}

header {
	position: fixed;
	width:100%;
	background-color: ghostwhite;
	border-width: 3px 0;
	border-color:#6E9C81;
	border-style: solid;
	height: 64px;
	z-index: 5;
}

nav {
	padding: 1rem;
}

section {
	display: block;
	border: 1px solid #006E2D;
}

h1,h2,h3,h4,h5,h6 {
	font-family: 'Share Tech', sans-serif;
	font-weight: bold;
}

h1 {
	font-size: 2.5rem;
	color: #005824;
}

h2 {
	font-size:1.5rem;
	color: black;
}

h3,h5 {
	font-size: 1.3rem;
	color: #297A4A;
}

a {
	color: #005824;
	text-decoration:none;
}

a:hover {
	color: #6E9C81;
	text-decoration: underline;
}

#banner {
	padding-top: 64px;
}

.main-container {
	width: 100%;
	position: relative;
}

.headings-main {
	padding-top: 2.4rem;
	padding-bottom: 1.2rem;
	text-align: center;
	width: 100%;
	font-size:4rem;
}

.content {
	margin: 0 auto;
}

.btn {
	background-color: #005824;
	border-radius: 25px;
	text-align: center;
	color: ghostwhite;
	font-size: 1.5rem;
	border:5px solid #6E9C81;
	transition:all 750ms;
}

.btn:hover {
	background-color: #6E9C81 ;
	border:5px solid #005824;
	cursor:pointer;
	color: #005824;
}

.row {
	display:flex;
	flex-direction: row;
	flex-wrap: nowrap;
}

.col {
	display:flex;
	flex-direction:column;
}

.side {
	width: 45%;
}


/* MOBILE COMMON */
/*html, body {
	font-size:12px;
}*/

/*nav {
	padding: 1rem;
}*/

/*section .headings-main {
	padding-top: 2.4rem;
	padding-bottom: 1.2rem;
	text-align: center;
	width: 100%;
}*/
/*
section .headings-main h1{
		font-size:4rem;
}*/


/*DESKTOP CHANGE COMMON*/

@media only screen and(min-width:767px) {
		/* elements */
	html, body {
		font-size:18px;
	}
	
	/*resize headings*/
	.headings-main {
		padding-top: 2rem 0;
		font-size:2rem;
	}

/*	.headings-main h1{
		font-size:2rem;
	}*/
		
}

/*#### HEADER ####*/
/*MOBILE*/
nav .nav-mobile {
	display: flex;
	align-items:center;
	justify-content: space-between;
}

/*#### HEADER -DESKTOP ####*/
@media only screen and (min-width:767px) {
	
	nav .main {
		display:flex;
		justify-content: center;
		font-size: 1.5rem;
	}
	
	nav .main .logo {
		display: flex;
		align-items:center;
		justify-content: flex-start;
		padding-left: 1.5rem;
		width: 50%;
	}
	
	nav .main img{
		height: 1.5em;
		width: 1.5em;
		padding-right: 1rem;
	}
	
/*	nav .main .headings{
		font-size: 2rem;
	}*/
		
	nav .main .headings span {
		font-size: 1em;
		font-family: 'Press Start 2P', cursive;
		color: #005824;
	}
	
	nav .main ul {
		display: flex;
		align-items:center;
		justify-content:flex-end;
		width: 100%;
	}
	
	nav .main ul li{
		padding: 	0 1rem;
	}
	
	nav .main li a{
		font-size: 1.5rem;
	}

}

/*#### BANNER ####*/
/*MOBILE */

#banner {
	background-color: lightgray;
}
	
#banner img {
	margin: 0 auto;
	height: 180px;
	width: 100%
}

#banner .side {
	justify-content:center;
	align-items: center;
	width: 100%
}

#banner .headings {
	position: relative;
	padding: 2rem 1rem;
}

#banner .headings h1 {
	/*font-size: 3.5rem;*/
	margin-bottom: 2.5rem;
}

#banner .headings h2 {
	margin-bottom: 2rem;
}

#banner .btn {
	width: 80%;
	padding: 0.5em 0;
}

/* BANNER DESKTOP */
@media only screen and (min-width: 767px) {

	#banner {
		height: 600px;
	}
	
	#banner.col {
		flex-direction: row;
	}
	
	#banner img {
		margin:0;
		padding: 1.5rem /*1.5rem 2rem 1.5rem*/;
		height: auto;
		width: 55%;
		border: 2px solid #006E2D;
		background-color: #6E9C81;
	}
	
	#banner .side {
		justify-content: center;
		padding-top: 2rem;
	}

	#banner .headings h1 {
		margin-bottom: 2rem;
		width: 80%;
	}

	#banner .headings h2 {
		margin-bottom: 3rem;
		width: 80%;
	}
	
	/*#banner .btn {
		margin-top: 3rem;
	}*/
}

/*#### FEATURES #### */
/*MOBILE */

#featured .side {
	margin: 0 auto;
	width: 100%;
	justify-content: space-between;
	align-items: center;
}

#featured .item {
	overflow:hidden;
	width: 85%;
	padding: 2rem;
}

#featured .item img {
	width: 100%;
}

#featured .item .headings {
	padding-left: 2.5em;
}

#featured .item .headings h2 {
	/*font-size: 2.5rem;*/
	padding: 0.5em;
}

#featured .item .headings p{
	font-size: 1.5em;
	padding: 0.5em;
}

#featured .item .headings span {
	font-size: 1.2rem;
	color: lightblue;
	padding: 0.5em;
}

/* FEATURES DESKTOP */
@media only screen and (min-width: 767px) {
	#featured {
		height: 600px;
	}
	
	#featured.col{
		flex-direction:row;
	}
	
	#featured .main {
		padding:2rem 1rem;
		width:55%;
	}
		
	#featured .main img {
		overflow:hidden;
		border: 2px solid #005824;
	}
	
	#featured .main .headings h1 {
		/*font-size: 3rem;*/
		padding: 2rem 0 1.5rem 0;
	}
		
	#featured .main .headings h5 {
		padding-top:2rem;
	}
	
	#featured .main p {
		font-size: 1rem;
	}
	
	#featured .side {
		padding: 2rem 0;
	}
	
	#featured .side img.desk-only {
		display: inline;
		padding: 1rem;
		width:35%;
	}

	#featured .side .item {
		display: flex;
		flex-direction: row;
		padding:0;
		align-items:center;
	}
	
	#featured .side .item:nth-child(3n+0) {
		background-color: #6E9C81;
		border:1px solid #005824;
	}
	
	#featured .side .item:nth-child(3n+0) span a{
		color: lightblue;
	}
	
	#featured .side .headings {
		padding-left: 0;
	}

	#featured .side .headings h2 {
		/*font-size: 2rem;*/
	}
	
	#featured .side .headings p, #featured .side .headings span {
		/*font-size: 1rem;*/
	}
	
}

/*#### COURSES ####*/
/*MOBILE */

#start-learning .main {
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	justify-content: space-between;
	align-items: center;
	padding: 2rem;
}

#start-learning .main .item {
	margin: 0 2rem 1rem 2rem;
	padding: 4rem;
	background-color: #6E9C81;
	width: 65%;
	border: 2px solid #005824;
}

#start-learning .main .item:hover{
	background-color: #005824;
	border: 2px solid #6E9C81;
	
}

#start-learning .main .item h2 {
	font-size: 2.5rem;
	padding-left: 2rem;
}

#start-learning .main .item h2:hover {
	color: lightblue;
	cursor: pointer;
}

/* COURSES DESKTOP */
@media only screen and (min-width:767px) {
	#start-learning {
		background-color: lightgray;
		padding-bottom: 2rem;
	}
	
	#start-learning .main {
		flex-direction: row;
		flex-wrap:wrap;
		padding: 0;
		width: 80%;
	}

	#start-learning .main .item , #start-learning .main .item:hover{
		display: flex;
		flex-direction: column;
		margin: 0.5rem;
		padding:0;
		background-color: white;
		width: 25%;
		height:250px;
		border: 2px solid #006E2D;
		border-radius: 10px;
	}
	
	#start-learning .main .item img {
		display:block;
		height:35%;
		width:100%;
		border-bottom: thin solid #006E2D;
	}
	
	#start-learning .main .item h2,#start-learning .main .item h2:hover {
		margin-top: 1rem;
		font-size: 1.5rem;
		padding-left: 0.5rem;
		font-weight: bold;
		color: black;
		cursor:default;
	}
	
	#start-learning .main .item .headings{
		display:block;
		padding: 0.5rem 1rem 1rem 1.5rem;
	}
		
	#start-learning .main .item .headings h3 {
		font-size: 1.5em;
		text-transform: uppercase;
		padding: 0.5em 0;
	}
	
	#start-learning .main .item .headings p {
		font-size: 1.2em;
		color: black;
	}
}

/*#### THESIS EXHIBITS ####*/
/* MOBILE */

video {
	padding: 3em 0;
	width: 100%;
}

/* THESIS DESKTOP */
@media only screen and (min-width:767px) {	
	
	#thesis-exhibits .main {
		padding-left: 1.5rem;
	}
	
	#thesis-exhibits .main .col {
		width:55%;
	}
	
	#thesis-exhibits .main .headings h2{
		padding: 1.5rem 0 0 0.5rem;
	}
	
	#thesis-exhibits .main .headings p{
		padding: 1.5rem 0.5em;
		font-size: 1rem;
	}
		
	#thesis-exhibits .side {
		padding-left:1.5rem;
	}
	
	#thesis-exhibits .side div:first-child{
		background-color: #6E9C81;
		border:1px solid #005824;
	}
	
	#thesis-exhibits .side .item .headings {
		padding-bottom:2rem;
		width: 60%;
	}
	
	#thesis-exhibits .side .item img {
		overflow:hidden;
		padding: 1rem;
		width: 35%;
		height: 150px;
	}
	
	#thesis-exhibits .side .item h2 {
		padding:2rem 1rem;
	}
	
	#thesis-exhibits .side .item p {
		padding:0 1.5rem;
	}
	
	
	#thesis-exhibits video {
		padding: 0;
		width: 100%;
		border: 1px solid #6E9C81;
	}
}

/*#### FOOTER ####*/
/*MOBILE */
footer {
	background-color:ghostwhite;
}

footer .main {
	font-size: 2.5rem;
	padding: 2.5em 0;
}

footer .headings p {
	padding-left: 2.5em;
}

/* FOOTER DESKTOP*/
@media only screen and (min-width:767px) {
	footer {
		border-top:0.5px solid lightgray;
	}
	
	
	footer .row {
		padding: 4.5rem 1.5rem;
	}
	
	footer .main {
		font-size:1.5rem;
		width: 80%;
		padding: 0;
	}
	
	footer .side {
		display: block;
		text-align:right;
		padding:2rem;
	}
	
	footer .main, footer .side{
		padding: 1rem 0.5rem;
	}

	footer .main p,footer .side span {
		padding:1rem;
	}
	
	footer .side a {
		font-size: 1.2rem;
	}
	
}

/* ##### Hidden #### */

@media only screen and (max-width:767px){
	/*hidden for desk*/
	.desk-only {
		display:none;
	}
	
}

@media only screen and (min-width:767px) {
		/*hidden mobile */
	nav .nav-mobile, .mobile-only {
		display:none;
	}
}
