@charset "utf-8";
/* CSS Document */

/* Mobile first */
html, body {
	font-size:12px;
}

.content {
	margin: 0 auto;
}

.main-container {
	width: 100%;
	position: relative;
}

.flex-container {
	
}

header {
	height: 64px;
}

nav {
	padding: 1rem;
}

section {
	/*width: 100%;*/
	display: block;
}


/*Header - MOBILE*/
.nav-mobile {
	display:flex;
	justify-content: space-between;
	align-items: center;
}

.nav-desktop,.logo {
	display:none;
}

/*banner -MOBILE */

.banner {
	background-color: silver;
}

.banner-img {
	height: 180px;
	margin: 0 auto;
	/*border: thick black dashed;*/
}

.banner-img img {
	height:100%;
	width: 100%
}

.banner-info {
	position: relative;
	padding: 32px 16px;
}

.banner-info h1 {
	font-size: 3rem;
	margin-bottom: 32px;
}

.banner-info h2 {
	font-size: 2rem;
	margin-bottom: 24px;
}

.banner-start {
	background-color: gray;
	font-size: 1.5rem;
	color:white;
	width: 80%;
	margin: 0 auto;
	text-align: center;
	padding: 1.2em 0;
}
	
/* features section -MOBILE */
#featured {
	background-color: ghostwhite;
}

.features {
	margin: 0 auto;
	display:flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.feature {
	overflow:hidden;
	width: 85%;
	padding: 2rem;
}

.feature .mobile-img {
	/*padding: 1.5em;*/
	width: 100%;
}

.feature-text {
	padding-left: 2.5em;
}

.feature-text h2 {
	font-size: 3rem;
	padding: 0.5em;
}

.feature-text p {
	font-size: 2rem;
	padding: 0.5em;
}

.feature-text .read {
	font-size: 2rem;
	color: lightblue;
	padding: 0.5em;
}

/*courses section */

.courses {
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	padding: 2rem;
}

.courses .heading {
	padding-top: 2.4rem;
	padding-bottom: 1.2rem;
	text-align: center;
	width: 100%;
}

.courses .heading h1{
		font-size:4rem;
}

.course {
	margin: 0 2rem 1rem 2rem;
	padding: 4rem;
	background-color: lightgray;
	width: 65%;
}

.course h2 {
	font-size: 3rem;
	padding-left: 2rem;
}

/* Thesis exhibits */
#thesis-exhibits {
	background-color: lightgray;
}
.exhibits {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.exhibits .heading h1 {
	font-size: 4.5rem;
	padding:3.5rem 0;
	width: 100%;
}

video {
	padding: 3em 0;
	width: 100%;
}

/*Footer*/
footer {
	background-color:white;
}

footer .heading {
	font-size: 2.5rem;
	padding: 2.5em 0;
}

footer .heading p {
	padding-left: 2.5em;
}
	

/* ##### DESKTOP #### */
@media only screen and (min-width:850px) {
	/* elements */
	html, body {
		font-size:16px;
	}
	
	/*.flex-center {
		display: flex;
		justify-content: center;
		align-items: center;
	}*/
	
	/*nav and header - DESKTOP */
	/*header {
		height: 64px;
		display: fixed;
	}*/

	/*nav {
		padding: 1rem;
	}*/

	.nav-mobile {
		display:none;
	}
	
	.logo {
		display:flex;
		justify-content: flex-start;
		align-items: center;
		padding-left: 1.5rem;
		/*border: 2px red dashed;*/
		width: 45%;
	}
	
	.logo img{
		height: 2rem;
		width: 2rem;
		padding-right: 1rem;
	}
		
	.nav-desktop {
		display:flex;
		justify-content: center;
		/*border: 2px black dashed;*/
	}
	
	.nav-desktop ul {
		display:flex;
		justify-content:flex-end;
		align-items: center;
		width: 100%;
		/*border: 2px green dashed;*/
	}
	
	.nav-desktop ul li{
		padding: 	0 1rem;
	}
	
	.nav-desktop li a{
		font-size: 1.5rem;
		text-decoration: none;
	}
	
	.logo-text {
		font-size:1.5rem;
	}
	
	.logo-text span {
		color: darkgray;
	}
	
/*banner -DESK */
	.banner {
		display: flex;
		flex-direction: row;
	}
	
	.banner-img {
		width: 60%;
		padding: 2rem 2.5rem 2rem 1.5rem;
		height: auto;
	}
	
	.banner-info {
		display:flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding-top: 2rem;
	}

	.banner-info h1 {
		font-size: 2.5rem;
		margin-bottom: 2rem;
		width: 80%;
	}

	.banner-info h2 {
		font-size: 1.5rem;
		margin-bottom: 1.5rem;
		width: 80%;
	}

	.banner-start {
		/*width: 100%;*/
		padding: 0.5rem 0;
}

		
	
	
}


